.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 874px;
  height: 754px;
  max-height: 700px;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  .close-bar{
    width: 100%;
    border: 1px solid #E3EAEE;
    background-color: #FAFBFC;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .form{
    margin-top: 38px;
    width: 754px;
    height: 587px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    .selects{
      width: 554px;
      display: flex;
      justify-content: space-between;
    }
    .input-pair{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .buttons{
      align-self: flex-end;
      display: flex;
    }
  }
}
@media (max-width: 551px){
  .modal-container{
    width: 90%;
    height: 50%;
    justify-content: space-between;
  }
}
