.advanced-search-container{
  width: 450px;
  height: 577px;
  background-color: white;
  border-radius: 3px;
  z-index: 50;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 41px 58px 20px 22px;
  .filter-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.p-mt-24{margin-top: 24px}
