.p-mt-4{margin-top: 4px}
.p-mt-122{margin-top: 122px}
.header-container{
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  padding-left: 42px;
  padding-right: 16px;
  margin: 12px 0;
  border-bottom: solid 1px $grey-4;
  .filter-input{display: flex}
  .avatar{height: 30px}
  .filter-input{
    display: flex;
    width: 100%;
    position: relative;
    .search{
      position: absolute;
      right: 0;
      left: 0;
    }
  }
}
.no-data{
  height: 80%;
}
.section{
  display: flex;
  min-height: 80%;
  .items-col{ width: 100%; }
  .folder-info{ width: 350px; position: fixed; right: 25px; top: 75px }
  .item-row{
    margin: 6px 0;
    padding: 8px 24px 8px 0;
  }
}
@media (max-width: 1216px){
  .header-container{
    height: 120px;
    flex-direction: column-reverse;
    align-items: flex-end;
    .avatar{margin-right: 12px}
    .filter-input{display: flex; width: 100%}
  }
}
